// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// tags
.tags {
    display: flex;
    .tag {
        color: skyblue;
        padding: 0 7px;
        font-size: 20px;
        position: relative;
        &::before {
            content: '#';
            font-weight: bold;
            font-size: 30px;
        }
        i {
            &::after {
                content: '\2573';
                position: relative;
                top: -4px;
                font-size: 10px;
                color: gray;
                padding: 0 0 0 5px;
                cursor: pointer;
                font-style: normal;
            }
        }
    }
    .add {
        position: relative;
        .list {
            padding: 20px;
            border: 1px solid skyblue;
            background-color: white;
            width: 100%;
            box-sizing: border-box;
            .list-tag {
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    background-color: skyblue;
                    color: white;
                }
            }
        }
    }
}