
    
[data-gallery="0"] {
    display: none;
}

span.rem {
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid crimson;
    background-color: crimson;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.tags {
    display: flex;
    padding: 0 0 20px 0;
    .tag {
        color: skyblue;
        padding: 0 7px;
        font-size: 20px;
        position: relative;
        &::before {
            content: '#';
            font-weight: bold;
            font-size: 30px;
        }
        i {
            &::after {
                content: '\2573';
                position: relative;
                top: -4px;
                font-size: 10px;
                color: gray;
                padding: 0 0 0 5px;
                cursor: pointer;
                font-style: normal;
            }
        }
    }
    .add {
        padding: 0 0 0 30px;
        position: relative;
        input {
            outline: none;
            border: none;
            border-bottom: 1px dashed skyblue;
            color: skyblue;
            font-size: 20px;
            height: 26px;
        }
        &::before {
            content: '#';
            font-weight: bold;
            font-size: 30px;
            color: skyblue;
        }
        .list {
            display: none;
            position: absolute;
            padding: 20px;
            border: 1px solid skyblue;
            background-color: white;
            left: 52px;
            top: 50px;
            width: 100%;
            box-sizing: border-box;
            .list-tag {
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    background-color: skyblue;
                    color: white;
                }
            }
        }
        .btn-info {
            margin-left: 20px;
        }
    }
}