[data-gallery="0"] {
    display: none;
}

span.rem {
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid crimson;
    background-color: crimson;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.tags {
    display: flex;
    padding: 0 0 20px 0;
    .tag {
        color: skyblue;
        padding: 0 7px;
        font-size: 20px;
        position: relative;
        &::before {
            content: '#';
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}

//modal
.modal {
    display: none;
    background-color: rgba(95, 158, 160, 0.5);
}
.clickable-disabled {
    pointer-events: all !important;
    cursor: not-allowed;
}

.finished-idea {
    background-color: red;
}