[data-gallery="0"] {
    display: none;
}

span.rem {
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid crimson;
    background-color: crimson;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.tags {
    display: flex;
    flex-direction: column;
    .tag {
        color: darkorchid;;
        padding: 0 7px;
        font-size: 1.25em;
        position: relative;
        &::before {
            content: '#';
            font-weight: bold;
            font-size: 1.1em;
        }
    }
    .added-tags {
        display: flex;
        flex-wrap: wrap;
    }
    .list {
        display: none;
        padding: 15px;
        border: 1px solid darkorchid;
        background-color: white;
        width: 100%;
        box-sizing: border-box;
        .list-tag {
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                background-color: rgb(13, 202, 240);
                color: white;
            }
        }
    }
}

//modal
.modal {
    display: none;
    background-color: rgba(95, 158, 160, 0.5);
}
.clickable-disabled {
    pointer-events: all !important;
    cursor: not-allowed;
}

.finished-idea {
    background-color: lightblue;
}

.list-group-item.fundery-list {
    .idea-title {
        text-transform: capitalize;
    }
    .idea-info {
        display: flex;
        gap: 2em;
        .idea-left {
        width: 200px;
        height: 200px;
        display: inline-block;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .idea-right {
            display: inline-block;
            .tags{
                .tag:first-child {
                    padding-left: 0;
                }
            }
        }
    }
    
    *{
        text-decoration: none;
        color: inherit;
    }
    &:hover {
        opacity: 0.8;
        background-color: hsl(0, 0%, 90%);
        *{
            color: inherit;
        }
    }
}

.sort-filter-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 100%;
    position: relative;
    button,
    a {
        top: -6px;
        position: relative;
    }
}

.vertical-progress-bar {
    background-color: green;
    height: 33vh;
    transform: rotate(180deg);
    .vertical-progress-bar-color {
        background-color: darkorchid;
        min-width: 10px;
        min-height: 1%;
    }
}

.card{
    overflow: hidden;
}

.funds-section > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-weight: bold;
        margin-left: 0.5em;
    }
}

.donator {
    display: flex;
    justify-content: space-between;
}

.like-tag-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    .like {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .hearts {
            color: darkorchid;
        }
        .btn {
            margin-left: 1em;
            font-size: 24px;
            line-height: 1.5em;
            width: 1.5em;
        }
    }
}

.gallery-section {
    margin-top: 1em;
    .no-photo {
        width: 200px;
        height: 200px;
    }
}